Flask
fillpdf
pdfrw
pdf2image
PyMySQL
PyMuPDF
qrcode
waitress
PyPDF2
python-dotenv
pypdf
reportlab
opencv-python
numpy
tzdata

# if venv is not exist create venv
# python -m venv venv

# Activation
# venv\Scripts\activate

# install command for requirements.txt
# pip install -r requirements.txt